.contenedorRegistro {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.cntBienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    background-image: url(./Mask.png);
    background-size: cover;
    z-index: 1;
    color: white;
    width: 55%;
    height: 100dvh;
    position: relative;
    
}

.cntBienvenida::after {
    /* border: 2px dashed; */
    position: absolute;
    z-index: -2;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:  100%;
    min-width: 320px;
    background-color: #3b63a8 ;
    filter: opacity(0.4);

}

.cntBienvenida > :nth-child(1){
    font-size: 2rem;
    margin: 0;
    line-height: 1.5;
}
.cntBienvenida > :nth-child(2){
    font-size: 1.3rem;
    margin: 0;
    margin-bottom: 1.5rem;
}
.cntBienvenida > :nth-child(3){
    font-size: 0.8rem;
    margin-bottom: 3rem;
}



.cntPasos {
    margin: 0 auto;
    width: 50%;
    margin-left: 5rem ;
    font-size: 0.8rem;
    /* border: 2px dashed; */
}

.elementoPaso {
    display: flex;
    flex-direction: row;
    position: relative;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.cntPasos > :nth-child(1)::before, 
.cntPasos > :nth-child(2)::before, 
.cntPasos > :nth-child(3)::before { 
    position: absolute;
    width:  3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -4rem;
    font-size: 1.05rem;
    font-weight: 600;
    color: #5981c6;
}
.cntPasos > :nth-child(1)::before {content: '1';}
.cntPasos > :nth-child(2)::before {content: '2';}
.cntPasos > :nth-child(3)::before {content: '3';}

.cntPasos > :nth-child(1)::after,
.cntPasos > :nth-child(2)::after {
    position: absolute;
    content: '';
    width: 0.3rem;
    height:  5rem;
    background-color: white;
    left: calc(-4rem - (-1.35rem));
    bottom: -2rem;
    z-index: -1;
}



.cntBienvenida > :nth-child(5),
.cntBienvenida > :nth-child(6) {
    font-size: 0.8rem;
    margin: 0.5rem;
}


.liga {
    text-decoration: underline;
    cursor: pointer;
}



.cntFormulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}


.imgLogo {
    width: 23%;
    margin-bottom: 1rem;
}

.formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 330px;
}

.cntImput {
    
    display: flex;
    justify-content: center;
    position: relative;
    /* border: 2px dashed; */
    margin-top: 1rem;
    & input {
        appearance: none;
        border: 1px solid #8f8f8f;
        padding: 0.5rem;
        width: 55%;
        border-radius: 6px;
    }
}

.cntPoliticas {
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    
}

.terminos > p {
    width: 100%;
    text-wrap: balance;
    font-size: 0.6rem;
    text-align: left;
    margin-left: 1rem;
    line-height: 1.2;

        & span {
            color: blue;

            &:hover {
                text-decoration: underline;
            }
        }

}

.boton {
    appearance: none;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    width: 60%;
    background-color: #5981c6;
    color: white;
}


.passwordToggle {
    position: absolute;
    right: 21%;
    top: 30%;
    cursor: pointer;
    
}
.ojos {
    width: 15px;
}