
.cntTarjetaCarrucel {
    position: relative;
    display: flex;
    align-items: center;
    
    width: 100%;
    overflow: hidden;
    flex-direction: column;


    & > .bienvenida {  
        text-align: center;
        padding: 3rem 0;
        font-size: 2.0rem;
    }
    
}

.cntCarru {
    display: flex;
    width: 90%;
    & > :nth-child(3) {
        transform: rotate(180deg);
    }
}

.cntTarjetas {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* Firefox */
    position: relative;
    width: 100%;
}

.cntTarjetas::before,
.cntTarjetas::after {
    position: absolute;
    content: '';
    top: 0;
    pointer-events: none;
}

.cntTarjetas::before {
  left: 3rem;
  background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.cntTarjetas::after {
  right: 3rem;
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}




.cntTarjetas::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.btnFlecha {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    color: #f8e6e6;
    padding: 0 10px;
    & img {
        transition: filter 0.3s ease, transform 0.15s ease;
        filter: opacity(0.3);
    }

    
}

.btnFlecha:hover {
    & img {
        filter: opacity(0.8);
        transform: scale(1.1);
    }
}

