.cntV5ACompletarIne {
  /* background-image: linear-gradient(166deg, rgb(11, 50, 182, 0.01) 0%, rgb(11, 164, 182, 0.3) 100%); */
  color: rgb(70, 69, 69);
  width: 100%;
  height: 100dvh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}


.cntLogo {
  margin-top: 3rem;
  min-width: 40%;
}

.cntTexto {
  width: 70%;
  /* border: 2px dashed; */

}

.cntFormulario {
  margin: 2rem auto;
  width: 90%;
  /* border: 2px dashed greenyellow; */
}

