.cntTarjetaAlerta {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    font-size: 0.85rem;
    gap: 1rem; /* separación entre tarjetas sugerencia */
}
