.cntTarjetaBienestar {
    width: 100%;
    height: auto;
    /* border: 1px dashed #ccc; */
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.cntTarjetaBienestar:nth-child(1) {
    font-weight: bold;
}

.cntAccesos {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.link {
    text-decoration: none;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 1.6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    text-wrap: nowrap;
}

.link:hover {
    background-color: #145294;
    color: #ffffff;
}

