.cntMenu {
    position: relative;
    width: 6rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    /* background-color: #010318 ; */
    /* background-image: url('./fondo2.png');
    background-repeat: no-repeat;
    background-size: cover; */
}

.cntLogo {
    align-self: center;
    flex: 3;
    text-align: center;
    padding-top: 2rem;
    & .imglogo {
        filter: invert();
        width: 100%;
        
        
    }
}

.opciones {
    flex: 7;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem  0;
    position: relative;
    overflow-x: hidden;
}

.icono {
    width: 2em;
    height: 2.2em;
    filter: grayscale(0) brightness(200);
    transition: filter 0.1s ease;
    transform: scale(1.6);
    

}
.link {
    color: #ffffff;
    font-size: 0.75rem;
}



.menuItem {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    flex-direction: column;
    transition: background-color 0.3s ease, transform 0.3s ease;
    gap: 0.5rem;
    position: relative;
    
}

.menuItem:hover {
    background-color: #d7eafb00;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.menuItem:hover .link {
    color: #f3f3f3;
}

.menuItem:hover .icono {
    filter: grayscale(0) brightness(100);
    transform: scale(1.8);
}

.menuItem:hover::before {
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: -1;
}

.menuItem::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    
}

.menuItem:nth-child(1)::before {
    background-color: #ffffff;
    border-left: 5px solid #ffffff;
}
.menuItem:nth-child(2)::before {
    background-image: url("./fondcuest.png");
    background-size: contain;
    opacity: 1;
    border-left: 5px solid #4FB9D2;
    
}
.menuItem:nth-child(3)::before {
    background-image: url("./fondhist.png");
    background-size: contain;
    opacity: 1;
    border-left: 5px solid #F6A430;
}
.menuItem:nth-child(4)::before {
    background-image: url("./fondcabi.png");
    background-size: contain;
    opacity: 1;
    border-left: 5px solid #ED6B24;
}
.menuItem:nth-child(5)::before {
    background-image: url("./fondayuda.png");
    background-size: contain;
    opacity: 1;
    border-left: 5px solid #B9147E;
}

.opciones {
    & > :nth-child(1) {
        border-right: 5px solid #ffffff;
        
    }
    & > :nth-child(2) {
        border-right: 5px solid #4FB9D2;
        
    }
    & > :nth-child(3) {
        border-right: 5px solid #F6A430;
    }
    & > :nth-child(4) {
        border-right: 5px solid #ED6B24;
    }
    & > :nth-child(5) {
        border-right: 5px solid #B9147E;
    }
}

.fondoEstelas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border-radius: 0;

}