.cntMenu {
    position: relative;
    width: 6rem;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.6s 0.35s ease;
    /* padding: 1rem; */
    /* background-color: #010318 ; */
    /* background-image: url('./fondo2.png');
    background-repeat: no-repeat;
    background-size: cover; */
    
}

.cntLogo {
    align-self: center;
    text-align: center;
    margin: 2rem 0;
    & .imglogo {
        filter: invert();
        width: 100%;
        
        
    }
}

.opciones {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    
    gap: 1rem 0;
    position: relative;
    /* overflow-x: hidden; */
}

.icono {
    width: 2em;
    height: 2.2em;
    filter: grayscale(0) brightness(200);
    transition: filter 0.1s ease;
    transform: scale(1.6);
    

}
.link {
    color: #ffffff;
    font-size: 0.75rem;
}



.menuItem {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 1.5em 0;
    flex-direction: column;
    transition: background-color 0.3s ease, transform 0.3s ease;
    gap: 0.5rem;
    position: relative;
    
}

.menuItem:hover {
    transform: translateX(0.3rem);
    cursor: pointer;
}

.menuItem:hover .link {
    color: #f3f3f3;
}



.icono {
    transition: transform 0.3s;
} 

.menuItem:hover .icono {
    transform: scale(1.9);
}

.menuItem:hover::before {
    transform: translateX(0);
    transition: transform 0.3s ease;
    z-index: -1;
}

/* .menuItem:nth-child(2):hover::before {
    
}
.menuItem:nth-child(3):hover .icono {

    filter: brightness(0) saturate(100%) invert(84%) sepia(83%) saturate(696%) hue-rotate(0deg) brightness(102%) contrast(97%);
}
.menuItem:nth-child(4):hover .icono {

    filter: brightness(0) saturate(100%) invert(75%) sepia(69%) saturate(828%) hue-rotate(3deg) brightness(96%) contrast(98%);
}
.menuItem:nth-child(5):hover .icono {

    filter: brightness(0) saturate(100%) invert(26%) sepia(70%) saturate(750%) hue-rotate(307deg) brightness(94%) contrast(95%);
} */


/* .cntMenu:has(.menuItem:nth-child(1):hover) {
  background-color: rgb(255, 255, 255, 0.5);
}
.cntMenu:has(.menuItem:nth-child(2):hover) {
  background-color: rgba(146, 235, 255, 0.5);
}
.cntMenu:has(.menuItem:nth-child(3):hover) {
  background-color: rgb(246, 164, 48, 0.5);
}
.cntMenu:has(.menuItem:nth-child(4):hover) {
  background-color: rgba(237, 107, 36, 0.5);
}
.cntMenu:has(.menuItem:nth-child(5):hover) {
  background-color: rgba(185, 20, 126, 0.5);
} */

.menuItem::before {
    position: absolute;
    content: '';
    width: 12%;
    height: 100%;
    top: 0;
    right: 0;
    transform: translateX(100%);
    
}

/* .menuItem:nth-child(1)::before {
    opacity: 1;
    border-left: 5px solid #ffffff;
    background-color: rgb(255, 255, 255, 0.2);
}
.menuItem:nth-child(2)::before {
    background-color: hsla(191, 59%, 57%, 0.2);
    opacity: 1;
    border-left: 5px solid #4FB9D2;
}
.menuItem:nth-child(3)::before {
    background-color: rgb(246, 164, 48, 0.2);
    opacity: 1;
    border-left: 5px solid #F6A430;
}
.menuItem:nth-child(4)::before {
    background-color: rgba(237, 107, 36, 0.2);
    opacity: 1;
    border-left: 5px solid #ED6B24;
}
.menuItem:nth-child(5)::before {
    background-color: rgba(185, 20, 126, 0.2);
    opacity: 1;
    border-left: 5px solid #B9147E;
} */

.opciones {
    & > :nth-child(1) {
        border-right: 5px solid #ffffff;
        
    }
    & > :nth-child(2) {
        border-right: 5px solid #4FB9D2;
        
    }
    & > :nth-child(3) {
        border-right: 5px solid #F6A430;
    }
    & > :nth-child(4) {
        border-right: 5px solid #ED6B24;
    }
    & > :nth-child(5) {
        border-right: 5px solid #B9147E;
    }
}

.fondoEstelas {
    position: absolute;
    top: 0;
    left: 0;

    /* estelas */
    
    width: fit-content;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border-radius: 0;

}